{{#if posters}}
  {{#each posters}}
    {{#if this.poster_path}}
      <div class="poster" onclick="getMovieDetails('{{this.id}}')">
        <img src="{{./../ImageBaseURL}}w220_and_h330_face{{this.poster_path}}" alt="poster" />
        <div class="labels">
          <div class="left">
            <img src="./public/icons/star.svg" class="icons" alt="rating" />
            <span>{{this.vote_average}}</span>
          </div>
          <div class="right">
            <img src="./public/icons/list.svg" class="icons" alt="duration" />
            <span>{{this.release_date}}</span>
          </div>
        </div>
      </div>
    {{/if}}
  {{/each}}
{{else}}
<div class="error-message"><h1>No data Found</h1></div>
{{/if}}