{{#if posters}}
  {{#each posters}}
      <div class="poster" onclick="getMovieDetails('{{id}}')">
        {{!-- <div class="poster-item"> --}}
          <div class="labels">
            <div class="left">
              <img src="./public/icons/star.svg" class="icons" alt="rating" />
              <span>{{vote_average}}</span>
            </div>
            <div class="right">
              <img src="./public/icons/clock.svg" class="icons" alt="duration" />
              <span>{{duration runtime}}</span>
            </div>
          </div>
          {{loadImageBackdrop images 'poster'}}
        {{!-- </div> --}}
      </div>
  {{/each}}
{{else}}
  <div class="error-message"><h1>No data Found</h1></div>
{{/if}}